body {
    font-family: 'Metropolis';
}

.tooltip {
    pointer-events: none;
    padding: 1rem;
    margin: 1rem;
    background-color: hsl(0, 0%, 25%);
    color: hsl(0, 0%, 100%);
    position: fixed;
    margin-left: 10rem;
    max-width: 100%;
}